h1 {
  background-color: tomato;
  padding: 12px 50px;
  color: white;
  font-size: 22px;
  text-align: left;
}

.content_container {
  display: flex;
  height: 100%;
  width: 100%;
}

.left,
.right,
.right img {
   margin: 5px;
}

.left {
  flex-basis: 75%;
  margin-left: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

.right img {
  flex-grow: 1;
  margin-bottom: 0;
  margin-left: 0;
}

li {
  background-color: black;
  padding: 8px;
  color: white;
  font-size: 15px;
  margin-bottom: 25px;
}

.firstlink {
  padding-right: 15px;
  text-align: right;
}

.secondlink{
  padding-right: 15px;
  padding-left: 15px;
  text-align: right;
}

.thirdlink{
  padding-left: 15px;
  text-align: right;
}

h3 {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 20;
  font-weight: bold;
}

p {
  text-align: justify;
  margin-left: 15px;
  font-size: 16;
}

.closing {
  background-color: black;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  text-align: left;
  padding-bottom: 20px;
  padding-right: 20px;
}
